/* Dark mode */

/*///////////*/

.fridge-ul {
  width: 60vw;
  min-height: 20vh;
}

.fridge-li-element {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/********************/
.alert-color {
  color: red;
}

.default-color {
  color: black;
}
/********************/
.btn {
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 100px;
  font-size: 14px;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition-duration: 200ms;
}

.btn:hover {
  transform: scale(1.05);
  transition-duration: 200ms;
}

.btn-delete {
  background-color: #8b0000;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.btn-others {
  background-color: #2e8b57;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.btn-update {
  background-color: #4c43cd;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
}

.btn-move-to {
  background-color: #d4af37;
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  /*Később a color színén lehet változtani kell, a jobb láthatóság érdekében.*/
}

/*Füzetszerű hatás.*/

.main-item-style {
  margin: 20px auto;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
              -4px -4px 10px rgba(255, 255, 255, 0.9);
  list-style-type: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 100% 36px;
  background-position: 0 20px; 
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.main-item-style::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: whitesmoke;
  z-index: 1;
  border-radius: 10px;
}

.main-item-style::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: whitesmoke;
  z-index: 1;
  border-radius: 10px;
}


input[type="text"] {
  margin: 0 10px;
}

label {
  user-select: none;
}

.quantity-update-form {
  display: flex;
  align-items: center;
  width: 500px;
}

.fridge-form-update {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-label {
  width: 20vw;
  text-align: center;
}

.fridge-form-update input[type="submit"] {
  width: 150px;
}

.centerBtn {
  margin: 20px auto 5px;
}

/*Add visible and hidden styles*/
.hidden {
  display: none;
}

.visible {
  display: flex;
}

.fridge-form-update-quantity {
  display: flex;
  justify-content: center;
}

.hiddenUpdateForm {
  display: none;
}

.visibleUpdateForm {
  display: flex;
}

.hiddenMoveTo {
  display: none;
}

.visibleMoveTo {
  display: flex;
}

.hiddenTransferForm {
  display: none;
}

.visibleTransferForm {
  display: flex;
}

/*******************************/
