.recipes-h1, .recipes-h2 {
    margin: 10px 0;
}

/*********************************/
.form-inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.name-input {
    width: 300px;
}

textarea {
    width: 30%;
    height: 200px;
    margin: 5px auto;
}
/*********************************/

.saved-recipes-ul {
    list-style-type: none;
    padding: 0;
}


.recipe-name {
    font-style: italic;
}

.ingredient-ul {
    padding: 0;
}

.one-recipe {
    padding: 20px;
    outline: 2px solid black;
    width: 80%;
    margin: 10px auto;
}

.ingredient-element {
    list-style-type: none;
}

.preparation-p {
    width: 50%;
    margin: 10px auto;
}