.register-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 350px;
    margin: 32px auto;
    padding: 32px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .register-form p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    color: #333;
  }
  
  .register-form_input {
    width: 100%;
    padding: 12px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    text-align: center;
  }
  
  .register-form_input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .register-form_button {
    width: 50%;
    padding: 12px;
    margin: 16px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .register-form_button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .register-form_button:hover:not(:disabled) {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  